body {
    margin: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

p {
    font-size: 28px;
    margin: 0;
}


.header {
    background-image: linear-gradient(45deg, #1b2a46, #2d4d73, #141e30);
    color:rgb(255, 166, 0);
    display: flex;
    padding: 0 45px 0 45px;
    justify-content: space-between;
    align-items: center; 
    height: 115px;
}

.title-1{
    font-family: 'IBM Plex Sans Thai';
    font-size: 35px;
    font-weight:100;
}

.title-2{
    font-family: 'Water Brush', cursive;
    position: absolute;
    font-size: 47px;
    top: 45px;
    left: 300px;
    transform: rotate(-11deg);
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
    width: 350px;
    font-family: Roboto;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color:rgb(255, 166, 0);
}

.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(76, 114, 160);
}

.input-form{
    height: 5%;
    font-size: 18px;
    margin-right: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 3px 8px;
}

.btn-btn{
    font-size: 18px;
    color: white;
    background-image: linear-gradient(45deg, #1b2a46, #2d4d73, #141e30);
    cursor: pointer;
    padding: 11.5px 18px;
    border: none;
    border-radius: 5px;
    width: 45px;
}

.btn-btn:hover{
    background-image: linear-gradient(rgb(230, 230, 230), rgb(230, 230, 230));
    color: #2d4d73;
}

.hash {
    background-color: rgb(255, 255, 255);
    height: 5%;
    padding: 3px 10px;
    border-radius: 5px 0 0 5px;
}